<link rel="stylesheet" href="stylesheets/header.css" />
<header> 
    <nav>
        <ul class="nav__links">
            <li><a href="/dashboard-ngo">Dashboard ngo</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="#" class="care" style="font-size: 24px; padding-top: 20px;">Care <br> Foundation</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
</header>
<hr />