<%- include('home-ngo.ejs') -%>
<link rel="stylesheet" href="./stylesheets/profile.css" >
<div class="profile__container">
    <div class="profile__name">
        <img src="./images/arrow.png" alt="arrow"> 
        <h1>Add Member</h1> 
    </div>
    <form action="/add-member" method="POST" enctype="multipart/form-data">
    <div class="profile__section">
        <!-- <form action="/add-member" method="POST"> -->
    <div class="profile__info">
        <label>Name</label>
        <input type="text" name="name" id="memberName"></input>

        <label>Email</label>
        <input type="text" name="email" id="email"></input>

        <label>Designation</label>
        <input type="text" name="designation" id="designation"></input>

        <label>Add Image</label>
        <input type="file" name="member-image"></input>

    </div>
    </div>
    <button class="btn-update" type="submit">Update</button>
</form>
</div>
