<%- include('../partials/header.ejs') -%>
<%- include('../chore.ejs') -%>
<link rel="stylesheet" href="./stylesheets/donate.css" >
<div class="donate__container">
    <div class="donate__content">
        <div class="donate__logo">
            <img src="./images/ngo.png" alt="ngo" />
        </div>
        <div class="donate__info">
            <div class="donate__name">
            <p>Stray dogs catchers</p>
            </div>
            <div class="donate__data">
                <h1 class="donate__amount"> Enter a donation amount:</h1>
                <span class="donate__rupee">&#8377;</span>
                <input type="number" name="amount" class="donate__input"> 
            </div>
            <button class="donate__btn">Make it count</button>
        </div>
    </div>
</div>