<%- include('../partials/header.ejs') -%>
<%- include('../chore.ejs') -%>
<link rel="stylesheet" href="./stylesheets/dashboard.css" >
<link rel="stylesheet" href="./stylesheets/donor.css" />
<div class="dashboard__container">
    <div class="nav__container">
        <h1 class="ngo__name"><span><img class="arrow" src="./images/arrow.png" alt="arrow"></span>Care Foundation</h1>
               
        <div class="administrator__details">
            <img class="administrator__img" src="./images/profile.png" alt="profile">
            <div class="administrator__name">
                <p>Administrator</p>
                <h1>Nitanshu Lokhande</h1>
            </div>
        </div>
        <hr class="profile__hr" />
        <div class="menu__elements">
            <h1><span><img class="arrow" src="./images/home.png" alt="arrow"></span>&emsp13;&emsp13;Home</h1>
        </div>
        <div class="menu__elements">
            <h1><span><img class="arrow" src="./images/donation.png" alt="arrow"></span>&emsp13;&emsp13;Donations</h1>
        </div>
        <div class="menu__elements">
            <h1><span><img class="arrow" src="./images/donor.png" alt="arrow"></span>&emsp13;&emsp13;Members</h1>
        </div>
        <div class="menu__elements">
            <h1><span><img class="arrow" src="./images/spending.png" alt="arrow"></span>&emsp13;&emsp13;Spendings</h1>
        </div>
        <div class="menu__elements">
            <h1><span><img class="arrow" src="./images/application.png" alt="arrow"></span>&emsp13;&emsp13;Applications </h1>
        </div>
        <div class="menu__elements">
            <h1><span><img class="arrow" src="./images/fund.png" alt="arrow"></span>&emsp13;&emsp13;Total funds</h1>
        </div>
        <div class="menu__elements">
            <h1><span><img class="arrow" src="./images/donor.png" alt="arrow"></span>&emsp13;&emsp13;Top Donors</h1>
        </div>
    </div>
    <div class="donor_table">
               <div class="header">
                <h1 >  SightSavers <img class="arrow" src="./images/arrow.png" alt=""></h1>
                <hr class="border" />  
         
               </div>

                <div class="table">
                    <table style="width:800px ; height: 100px;">
                            <tr>
                                <th> <h2 id="table_heading">Donor</h2> </th> <th> <h2 id="table_heading">Amount</h2> </th> <th> <h2 id="table_heading">Time</h2> </th> 
    
                            </tr>
                        <div class="table_element">
                            <tr>
                                <th  class="border1"> <img class="profile_image" src="./images/T7.jpg"> Maeve Wiley</th>   <th class="border2">$100</th><th class="border2">21-04-2019</th>
                            </tr>
                            <tr>
                                <th class="border1"><img class="profile_image" src="./images/T8.jpg">Kirtika Patodi</th><th class="border2">$230</th><th class="border2">28-04-2021</th>
                            </tr> <tr>
                                <th class="border1"><img class="profile_image" src="./images/T1.jpg">Balram Meena</th><th class="border2">$300</th><th class="border2">02-04-2020</th>
                            </tr> <tr>
                                <th class="border1"><img class="profile_image" src="./images/T2.jpg">Krishna</th><th class="border2">$70</th><th class="border2">25-09-2021</th>
                            </tr> <tr>
                                <th class="border1"><img class="profile_image" src="./images/T3.jpg">Chintu Kumar</th><th class="border2">$80</th><th class="border2">12-08-2019</th>
                            </tr> <tr>
                                <th class="border1"><img class="profile_image" src="./images/T4.jpg">Piyush Goyal</th><th class="border2">$180</th><th class="border2">11-06-2021</th>
                            </tr> <tr>
                                <th class="border1"><img class="profile_image" src="./images/T9.jpg">Anuja Saraswat</th><th class="border2">$270</th> <th class="border2">19-03-2020</th>
                            </tr> <tr>
                                <th class="border1"><img class="profile_image" src="./images/T5.jpg">Karan Raj</th><th class="border2">$840</th><th class="border2">10-02-2020</th>
                            </tr> <tr>
                                <th class="border1"><img class="profile_image" src="./images/T6.jpg">Maqbool</th><th class="border2">$670</th><th class="border2">19-06-2020</th>
                            </tr>
                        </div>
                       
                    </table>

                </div>
        
     </div>       
</div>