<%- include('home-user.ejs') -%>
<link rel="stylesheet" href="./stylesheets/ngo-list.css" >
<div class="ngo__list">
    <div class="ngo__name">
        <img src="./images/arrow.png" alt="arrow"> 
        <h1>NGO's list</h1> 
    </div>
    <div class="ngo__container">
        <div class="ngo">
            <div class="ngo__card">
                <img src="./images/ngo.png" />
                <div class="ngo__details">
                    <h1>Designer</h1>
                    <a href="/dashboard/ngo-list/form" role="button" type="button">Join</a>
                </div>
            </div>
        </div>
        <div class="ngo">
            <div class="ngo__card">
                <img src="./images/ngo.png" />
                <div class="ngo__details">
                    <h1>Designer</h1>
                </div>
            </div>
        </div>
        <div class="ngo">
            <div class="ngo__card">
                <img src="./images/ngo.png" />
                <div class="ngo__details">
                    <h1>Designer</h1>
                </div>
            </div>
        </div>
        <div class="ngo">
            <div class="ngo__card">
                <img src="./images/ngo.png" />
                <div class="ngo__details">
                    <h1>Designer</h1>
                </div>
            </div>
        </div
        ><div class="ngo">
            <div class="ngo__card">
                <img src="./images/ngo.png" />
                <div class="ngo__details">
                    <h1>Designer</h1>
                </div>
            </div>
        </div
        ><div class="ngo">
            <div class="ngo__card">
                <img src="./images/ngo.png" />
                <div class="ngo__details">
                    <h1>Designer</h1>
                </div>
            </div>
        </div>
        <div class="ngo">
            <div class="ngo__card">
                <img src="./images/ngo.png" />
                <div class="ngo__details">
                    <h1>Designer</h1>
                </div>
            </div>
        </div>
    </div>
</div>