<%- include('home-ngo.ejs') -%>
<link rel="stylesheet" href="/stylesheets/profile.css" >
<div class="profile__container">
    <div class="profile__name">
        <img src="/images/arrow.png" alt="arrow"> 
        <h1>Edit Profile</h1> 
    </div>
    <form action="/dashboard-ngo/ngo-profile" method="POST" enctype="multipart/form-data" onsubmit="alert()">
    <div class="profile__section">
        <form action="/profile-ngo" method="POST" enctype="multipart/form-data" >
    <div class="profile__info">
        <label>Ngo name</label>
        <input type="text" name="ngo_name" id="ngo_name"></input>

        <label>government id</label>
        <input type="text" name="govtid" id="govtid"></input>

        <label>Bank Name</label>
        <input type="text" name="bank_name" id="bank_name"></input>

        <label>Account no</label>
        <input type="text" name="acc_no" id="acc_no"></input>

        <label>IFSC code</label>
        <input type="text" name="ifsc_code" id="ifsc_code"></input>

    </div>
    <div class="profile__infomore">
        <label>About Ngo</label>
        <input type="text" name="info" id="info"></input>

        <label>Address</label>
        <input type="text" name="address" id="address"></input>

        <label>Password</label>
        <input type="text" name="password" id="password"></input>

        <label> Add Logo </label>
        <input type="file" class="custom-file-input" style="border: none;" name="ngoimage" id="image" accept="image/*">
    </div>
    </div>
    <button class="btn-update" type="submit">Update</button>
    <button class="btn-delete" onclick="deleteProfile()">Delete Profile</button>
</form>
</div>

<script>
    var email = '';
    window.onload = () => {
       var ngoData = '<%- JSON.stringify(ngoInfo) %>';
        setTimeout(()=> {
            let data = JSON.parse(ngoData);
            email = data.ngo_mail; 
            document.getElementById('ngo_name').value = data.ngo_name;
            document.getElementById('bank_name').value = data.ngo_bank;
            document.getElementById('password').value = data.ngo_password;
            document.getElementById('address').value = data.ngo_address;
            document.getElementById('ifsc_code').value = data.ngo_ifsccode;
            document.getElementById('acc_no').value = data.ngo_account;
            document.getElementById('govtid').value = data.government_id;
            document.getElementById('info').value = data.ngo_info;
        },500);
    }

    const alert = () => {
        swal({
            title: "Done",
            text: "Successfull done",
            icon: "Success",
        });
        setTimeout(()=> {
        window.location.href = '/dashboard-ngo'
        },1000)
    }

    const deleteProfile = async () => {
        const xml = new XMLHttpRequest();
        const url = "/dashboard-ngo/ngo-profile/delete";
            xml.open('POST',url,true);
            await xml.setRequestHeader("content-type",'application/json');
           var ob1 = await xml.send(JSON.stringify({
               ngoEmail: email
           })
           );
           alert();       
        }

</script>