<%- include('home-user.ejs') -%>
<link rel="stylesheet" href="/stylesheets/ngo-list.css" >
<!-- <style>
    .dashboard__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 20%;
    height: 100vh;
}
.welcome__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 100vh;
    margin-left: 20%;
    margin-top: -55%;
    color: white;
    font-size: 50px;
}
.nav__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right:  #A73A7B 1px solid;
}
.desp__container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ngo__name {
    margin-top: 5%;
    color: white;
    font-family: "montserrat";
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
}
.arrow {
    width: 25px;
    height: 25px;
}

.administrator__details {
    margin-top: 12%;
    display: flex;
    flex-direction: row;
    width: 90%;
}

.administrator__img {
    width: 25%;
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}

.administrator__name {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.administrator__name > p{
    color: white;
    font-family: "montserrat";
    font-size: 15px;
}
.administrator__name > h1 {
    color: white;
    font-family: "montserrat";
    font-size: 20px;
}

.profile__hr {
    width: 100%;
    margin-top: 40px;
    height: 1px;
    background-color: #A73A7B;
    border: none;
}
.menu__elements {
    margin-top: 5%;
    width: 15vw;
}

.menu__elements > h1, .menu__elements > a {
    color: white;
    font-size: 10px;
    font-weight: 100;
    font-family: "montserrat";
}

.menu__elements > img {
    height: 30px;
    width: 30px;
}
.ngo__list {
    margin-top: -52%;
    margin-left: 20%;
}

.ngo__name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
}

.ngo__name > h1 {
    font-size: 30px;
    font-weight: 100;
}

.ngo__name > img {
    height: 30px;
    width: 30px;
}

.ngo__container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 70%;
    margin-left: 10%;
    grid-gap: 2%;
}

.ngo {
    width: 300px;
    height: 300px;
    background-color: #11254B;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ngo__card {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100%;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.ngo__details > h1{
    padding-top: 20%;
    font-size: 20px;
    font-weight: 100;
}

.ngo__logo {
    height: 120px;
    width: 120px;
}

.btn__join {
    border-radius: 40px;
    background-color: #032e57;
    color: white;
    font-size: 15px;
    padding: 6px 10px;
    border: none;
    width: 95%;
    height: 25%;
    margin-top: 3vh;
}
 
</style> -->
<div class="ngo__list">
    <div class="ngo__name">
        <img src="/images/arrow.png" alt="arrow"> 
        <h1>NGO's list</h1> 
    </div>
    <div class="ngo__container">

        <% response.forEach((data) => { %>
            <div class="ngo">
                <div class="ngo__card">
                    <% let src = "/uploads/" + data.image %> 
                    <img class="ngo__logo" src="<%= src %>" />
                    <div class="ngo__details">
                        <h1><%= data.ngo_name %></h1>
                        <!-- ye jo Join and about button hai vo ngo.ejs wali file jisme ngo ki information dikh rahi hai waha dikenge  -->
                        <a href="/dashboard-user/ngo-list/form" role="button" type="button"><button class="btn__join"> Join </button></a><br>
                      <a href="/dashboard-user/ngo-list/ngo"> <button class="btn__join"> About </button> </a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
<script>
    // function seeNGO() {
    // let xhr =new XMLHttpRequest();
    // xhr.open('GET','/dashboard/ngo-list/ngo',true);
    // xhr.setRequestHeader('Content-Type', 'application/json');
    // //! Replace with fetching data from ngo
  

    // xhr.send(
    //     JSON.stringify({
    //         id:3,
    //     })
    // );
    // xhr.onload =()=>{
    //     if(xhr.status ===200 && xhr.readyState ===4){
    //         window.location.href="/dashboard/ngo-list/ngo"
    //     }
    // }
    // }
</script>