<%- include('home-ngo.ejs') -%>
<link rel="stylesheet" href="/stylesheets/TopDonor.css" >
        <div class="donor_table">
                  <% var i=0; %>
                   <% donorData.forEach((data) => { %>
                    <div class="ParentDiv" id="MainDiv">
                        <div class="SecondDiv"><h2> &#129351; <%= data.donor_name %></h2>
                        <p>
                            Champion donor
                        </p>
                        </div>
                        <div class="ThirdDiv"> </div>
                        <div class="FourthDiv"><p>Total Donation </p>
                        <h2> &#x20B9; <%= data.total_donation %> </h2>
                        </div>

                    </div>
                    <% i = i+1; %>
                   <% }) %>
            
         </div>       
    