<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact page</title>
    <link rel="stylesheet" href="stylesheets/contact.css">
</head>

<body>
    <h1 id="T1">Get In Touch</h1>
    <h10>contact us for NGO related query</h10><br><br>
    <div class="row">
        <div class="column">
          <img src="images/loc.jpg" style="width:100%">
          <p>11,downing street,london,UK</p>
        </div>
        <div class="column">
          <img src="images/call.jpg"  style="width:100%">
          <p>+44 9089765489</p>
        </div>
        <div class="column">
          <img src="images/mess.jpg"  style="width:100%">
          <p>carefoundatiom@ngo.com</p>
        </div>
      </div>


<div class="container" id="container">
    <style>
        .vl {
          border-left: 3px solid #192650;
          height: 250px;
        }
        </style>
        
        <div class="vl"></div>

        <div class="contLeft">
            <h2 id="lefthead">Contact Form</h2>
            
            
        </div>

        <div class="name">
            <div class="contright">
                <p  id="lefthead"  >Your Name</p> 
                <p id="text1">Message</p>
            </div>

            <div class="holder">
                <input class="placeholder" type="text"  placeholder="name">
                <!-- <input class="placeholder1" type="textarea" placeholder="write here" style="height: 100px;" > -->
                <textarea name="placeh" id="placeh" cols="25" rows="10" maxlength="500" placeholder="write your message here"></textarea>
            </div>
            <p id="lefthead" >Mail</p> 
            <input class="placeholder" type="text"  placeholder="mail">
            <p  id="lefthead" >Phone</p> 
            <input class="placeholder" type="text"  placeholder="phone">
        </div>

        <br><button id="btn1">Send Message</button>

        
</div>
<img id="imag1" src="assest/image1.svg" alt="">
<img id="imag2" src="assest/image.svg" alt="">
</body>
<div class="div2">
  <div id="div3">
    <h3 id="text2">Care Foundation</h3>
    <h5 style="color: lemonchiffon;"> A database for the much need help we <br>
       need in this time of peril. 
    </h5>
  </div>
 <div>
  <h3 id="text3">Contact Us</h3>
  <h3>About Us</h3>
  <h3>List of Trustees</h3>
 </div>
 
</div>

<script>

            
</script>

</html>