<!DOCTYPE html>
<html lang="en">
<head>
    <title>NGO</title>
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    <h2>Small charities can bring bigger impacts.</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<!-- <form> -->
            <div class="form">
			<h1>Create Account</h1>
			<input id="name" type="text" placeholder="Name" />
            <input type="number" placeholder="Contact Number(optional)" id="phoneNumber">
			<input id="email" type="email" placeholder="Email" />
			<input id="pass1" type="password" placeholder="Password" />
            <input id="pass2" type="password" placeholder="Rewrite Password" />
			<button onclick="fun2()">Sign Up</button>
            </div>
		<!-- </form> -->
	</div>
	<div class="form-container sign-in-container">
		<!-- <form onsubmit="return fun1()"> -->
            <div class="form">
			<h3>Sign in</h3>
			<input id="username" type="id" placeholder="Username" />
			<input id="password" type="password" placeholder="Password" />
            <label id="label" style="color: red;  visibility : hidden" >Invalid Password</label>
			<a href="#">Forgot your password?</a>
			<button type="submit">Sign In</button>
            </div>
		<!-- </form> -->
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<br><br><br>
                <h1>Don’t delay give today!</h1>
				<br><br>
                <button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
                <br><br><br><br><br>
				<h1>Participate in changing the world.</h1>
                <br><br><br><br>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
		Join with <b>NGO</b> and  <b>Help someone’s dream come true </b>
        </p>
</footer>
</body>

<script>
const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});
signInButton.addEventListener('click', () => {
container.classList.remove("right-panel-active");
});
</script>

<script>
    function fun1()
        {
            var username = document.getElementById("username");
            var password = document.getElementById("password");
        
            if(username.value.trim()=="" || password.value.trim()=="" )
               { alert("Blank username or password");
                    username.style.border = "solid 3px red";
                    password.style.border = "solid 3px red";
                    document.getElementById("label").style.visibility = "visible";
                return false;
               }
               
        else
            {
               return true; 
            }

        }

        async function fun2()
        {
            
            var pass1 = document.getElementById("pass1").value;
            var pass2 = document.getElementById("pass2").value;
            var name = document.getElementById("name").value;
            var email = document.getElementById("email").value;
            var passw = document.getElementById("pass1").value;
            if( name.trim()=="" || email.trim()=="" || passw.trim() == "")
            {
                alert("Empty name or email or password");
            }    
        else if( pass1 != pass2) { 
            alert ("Password do not match")
            }
        else{
            //return true;
            alert('reached');
            const xml = new XMLHttpRequest();
            const url = "/signup";
            xml.open('POST',url,true);
            await xml.setRequestHeader("content-type",'application/json');
           var ob1 = await xml.send(JSON.stringify(
                {
                name:name,
                pass:pass1,
                email:email,
                number:document.getElementById("phoneNumber").value||""
                }
            ));
        }
        
        }


</script>
</html> 