*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Gilroy;
    max-width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(to right, #012342 , #A73AA2);
}

hr{
    height: 1px;
    background-color: #A73A7B;
    border: none;
}

li, a, button {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8%;
    background-image: linear-gradient(to right, #012342 , #A73AA2);
}

.care {
    font-family: 'Phosphate';
    color: #A73A67;
}

.nav__links {
    list-style: none;
    text-align: center;

}

.nav__links li {
    display: inline-block;
    padding: 20px 70px;
    color: white;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}


.nav__links li a:hover {
    color: #012342
}

.front {
    background-image: linear-gradient(to right, #012342 , #A73AA2);
    height: 100vh;

}


.myButton {
	background-color:#a73a7c;
	border-radius:28px;
	border:1px solid #a73a7c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Gilroy', 'Extrabold';
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    
	
}
.myButton h3 {
    text-shadow: 2px 2px #ff0000;
}
.myButton:hover {
	background-color:#a73a7c;
}
.myButton:active {
	position:relative;
	top:1px;
}

.h1front {
    z-index:1; 
    color: white; 
    position: absolute; 
    font-size: 7rem; 
    margin-top: 120px;
    margin-left: 160px;
    text-shadow: 2px 2px #A73A7B;
}

.design1 {
    z-index: 0; 
    position: relative; 
    margin-top: 120px;
}

.design2 {
    position: absolute;
    margin-top: 120px;
    padding-left: 1000px;
}

.header__bottom {
    margin: auto;
    margin-top: 3vh;
    display: block;
    width: 100%;
}

.but {
    margin-left: 220px; 
    margin-top: 680px;
    z-index: 0; 
    position: absolute; 
    top: 0;
    left: 0;
}

.images {
    display: flex;
    
}
.img1 {
    color: white;
    margin: 2% 6%;
    font-size: 1.5rem;
}

.images1{
    display: flex;
    margin-top: 100px;
}

.img4 {
    color: white;
    margin: 2% 6%;
    font-size: 1.5rem;
}

.images2 {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.img5{
    color: white;
    margin: 2% 6%;
    font-size: 1.5rem;
    padding-bottom: 100px;
}

.illus {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



.footer-clean {
    padding:50px 0;
    color:white;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
  