<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/thankyou.css">
</head>
<body>
    <div class="div1">
        <img id="image1" src="assest/image2.svg" >
     <h1 id="text1" >Thank You for the Donation.</h1>
    
    </div>
    <br><br>
    <div class="div4">
      
        <img id="image3" src="assest/image3.svg" alt="">
        <img id="image4" src="assest/image4.svg" alt="">
    </div>
 
</body>
</html>